<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>

</head>
<body>
<div>USER LIST</div>
<div id="div_list"></div>

<button onclick="list_post()">list</button>

<script>

    let userId = localStorage.getItem("userId");
    if(userId != null){
        alert("userId : " + userId)
    }

    function list_post(){
        $.ajax({
            url: "/api/post/list",
            type: "GET",
            contentType : 'application/json; charset=utf-8',
            data: {
                deleted : null
                , name : null
                , phone : null
            },
            cache: false,
            success: (obj_data, status, xhr)=>{
                alert(JSON.stringify(obj_data));
                let alist = obj_data["list"];
                for(let each of alist){
                    $("#div_list").append("<div onclick=\"location.href='/post/detail/"+each['id']+"'\">"+each['name']+"</div>");
                }
                //!!!
                //
            },
            error: (obj_data, status, xhr)=>{
                alert("error!!");
                alert(JSON.stringify(obj_data));
            }
        });
    }
    /*alert(1);
    let div_html = $("#div_01"); // => 0 or 1!!!!
    let div_class = $(".div_00"); //0 od 1 2 3 4 ....
    alert(div_html.html());*/

</script>
</body>
</html>