<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>

</head>
<body>
<input type="file" id="input_file" onchange="readURLFile(this)" />

<img id="img_temp" alt="" src=""/>
<input type="hidden1" id="input_fileurl" />
<button onclick="file_download()">download</button>

<button onclick="file_upload()">file_upload</button>
<script>
    let tempFile = null;
    function readURLFile(input) {
        if (input.files && input.files[0]) {
            let reader = new FileReader();
            reader.readAsDataURL(input.files[0]);
            reader.onload = function(e) {
                tempFile = input.files[0];
                alert(tempFile.name);
            }
        }
    }

    function file_download() {
        location.href = "/download/" + $("#input_fileurl").val();
    }
    function file_upload() {
        let fileData = new FormData();
        fileData.append("file", tempFile);

        $.ajax({
            url: "/api/upload",
            type: "POST",
            data: fileData ,
            cache : false,
            contentType : false,
            processData : false,
            success: (data, status, xhr)=>{
                //alert(JSON.stringify(data));
                $("#input_fileurl").val(data);
                //$("#img_temp").attr("src", "/image/" + data);
                //http://localhost:8080/image/1730803960649_night.jpg
                //$("#img_test").attr("src", "/image/" + data);
            },
            error: (data)=>{
                alert("error")
            },
        });
    }
</script>

</body>
</html>