<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>

</head>
<body>

login!
<br/>
USERNAME
<input id="create_user_username" type="text"/>
PASSWORD
<input id="create_user_password" type="password"/>

<div id="user_status">-</div>

<button onclick="login_user()">login</button>
<button onclick="logout_user()">logout</button>

<script>

    let userId = localStorage.getItem("userId");
    if(userId != null){
        alert("userId : " + userId);
        $("#user_status").text("already login!!");
    } else {
        $("#user_status").text("not yet login!!");
    }


    function logout_user(){
        localStorage.removeItem("userId"); //erase one!!
        localStorage.clear(); //erase all!!
    }
    function login_user(){
        $.ajax({
            url: "/api/user/login",
            type: "POST",
            contentType : 'application/json; charset=utf-8',
            data: JSON.stringify({
                username : $("#create_user_username").val()
                , password : $("#create_user_password").val()
            }),
            cache: false,
            success: (obj_data, status, xhr)=>{
                //!!!
                //alert(JSON.stringify(obj_data));
                localStorage.setItem("userId", obj_data["id"]);
                location.replace("/post/list");

            },
            error: (obj_data, status, xhr)=>{
                alert("error!!");
                alert(JSON.stringify(obj_data));
            }
        });
    }

</script>
</body>
</html>